/*
Must explicitly declare a height of 100% for #map-canvas and all of its parent 
elements in order to display the Google map.
https://developer.mozilla.org/en-US/docs/Web/CSS/height
*/
html, body, #content-container, #map-canvas {
  height: 100%;
}

#error-message {
  border-radius: 5px;
  padding: 15px;
}

.active-row {
  background-color: #FF6633;
  color: #FFF;
}
